{%extends 'blog/base.html'%}
{%block basecontent %}

<div class="col-md-12">
  <div class="page-header">
    <h1>
      Статистика <small>вашей страницы</small>
    </h1>
  </div>

<div class="col-md-6">
  <embed type="image/svg+xml" src= {{line_chart|safe}} />
  <embed type="image/svg+xml" src= {{date|safe}} />
</div>
<div class="col-md-6">
  <embed type="image/svg+xml" src= {{graph|safe}} />
  <embed type="image/svg+xml" src= {{time|safe}} />

</div>
</div>
<style>
body { padding-top: 50px; }
</style>
{%endblock%}
